<div class='tablist_second_markup__box'>
  <div class='tablist_second_box_card'>
    <div class='tablist_second__box_title'>
      <h2 class='tablist_second__title'>
        <span class='tablist_second__title_color'>New Ways to </span>Expand
      </h2>
    </div>
    <div class='tablist_second__card_first'>
      <h3 class='tablist_secont__card_firs_title'>Auto Invest</h3>
      <p class='tablist_secont__card_firs_text'>
        Monexo is India’s first peer to peer lender that provides the ability to
        do automated investment in loans listed in the marketplace. It’s a
        hands-off way to find and fund loans without logging into the Monexo
        platform. Once you set the lending rules, orders are placed
        automatically.
      </p>
      <p class='tablist_secont__card_firs_text'>It is that simple!</p>
    </div>
    <div class='tablist_second__card_second'>
      <h3 class='tablist_secont__card_firs_title'>Auto Grow</h3>
      <p class='tablist_secont__card_firs_text'>
        Monexo Grow presents investors with a small budget, an opportunity to
        participate in Peer-to-Peer lending and invest in risk-assessed,
        personal loans of creditworthy salaried borrowers.
      </p>
      <p class='tablist_secont__card_firs_text'>
        Start investing as low as ₹ 5,000 monthly.
      </p>
    </div>
  </div>
  <div class='tablist_second_box_image'></div>
</div>
<div class='tablist_second_box__after'>
  <div class='tablist_after_box'>
    <h2 class='tablist_after_title'>
      How Monexo
      <span class='tablist_after_title__color'>Reduced Risk?</span>
    </h2>
    <div>
      <ul class='tablist_list_item'>
        <li class='tablist_item_list'>
          <div class='tablist_item_content'>
            <div class='tablist_item_box__image'>

            </div>
            <h3 class='tablist_item_title'>3rd Party Trust Company</h3>
            <p class='tablist_item_text'>
              We have partnered up with IDBI Trusteeship Services Limited as our
              third-party administrator. Monexo passes your instructions to them
              to execute
            </p>
          </div>
        </li>
        <li class='tablist_item_list'>
          <div class='tablist_item_content'>
            <div class='tablist_item_box__image second_image'>

            </div>
            <h3 class='tablist_item_title'>Screened Borrowers</h3>
            <p class='tablist_item_text'>
              You will be investing only in screened, salaried borrowers based
              in Tier 1 metro cities with verified monthly incomes
            </p>
          </div>
        </li>
        <li class='tablist_item_list'>
          <div class='tablist_item_content'>
            <div class='tablist_item_box__image third_image'>

            </div>
            <h3 class='tablist_item_title'>Diversification</h3>
            <p class='tablist_item_text'>
              You can diversify across different risk buckets as per your
              risk-taking appetite to mitigate risk.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>