<div class='tablist_current_item'>
  <div class='tablist_current_box__title'>
    <h2 class='tablist_current__title_down'>What is</h2>
    <h3 class='tablist_current__title'>Peer to Peer (P2P) Lending?</h3>
    <p class='tablist_current__text'>
      Peer-to-peer lending connects investors looking for alternative investment
      options with creditworthy borrowers. New-age investment class allows
      direct lending to mitigate risk and take advantage of higher returns by
      diversifying funds in multiple loans.
    </p>
  </div>
  <div class='tablist_current_box__image'>
  </div>
</div>
<div class='tablist_current_box__submenu'>
  <h3 class='submenu_title'>Benefits of</h3>
  <h2 class='submenu_title__down'>P2P lending?</h2>
  <p class='submenu_text'>
    P2P lending can generate passive income for even a low-risk tolerance
    investor. If you want to diversify your portfolio, peer-to-peer lending is
    an excellent option. Not only is peer-to-peer lending an appealing
    alternative asset, but it can also produce impressive returns for investors
    in a low-interest-rate environment. Another advantage of P2P lending is that
    investors can generally choose the level of risk they are comfortable with.
  </p>
</div>