<div class="section section--mobile">
  <div class="container">
    <div class="header__mobile">
      <a class="icon" href="/monexo/">
        <svg class="site-nav__icon" width="150" height="38">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <button
        type="button"
        class="mobile__button is-open"
        data-menu-button
        aria-expanded="false"
      >
        <svg
          class="button__mobile--svg"
          width="40"
          height="40"
          aria-label="Переключатель мобильного меню"
        >
          <use
            class="header__svg is-open"
            href="./images/icons.svg#icon-burger"
          ></use>
        </svg>
        <svg
          class="button__mobile--close"
          width="40"
          height="40"
          aria-label="Переключатель мобильного меню"
        >
          <use
            class="mobile__svg is-open"
            href="./images/icons.svg#icon-burger-close"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</div>
<header class="header">
  <div class="header_content">
    <div class="header_icon">
      <a class="site_nav__link" href="/monexo/">
        <svg class="site-nav__icon" width="213" height="38">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <div class="site_nav">
      <div class="site_nav__box">
        <ul class="site_nav__list">
          <li class="site_nav__item link-current_show">
            <a class="site_nav__link" href="/monexo/">Home</a>
          </li>
          <li class="site_nav__item">
            <a class="site_nav__link" href="./partner.html">Partner</a>
          </li>
          <li class="site_nav__item">
            <a class="site_nav__link js_hover_element" href="">Invest</a>
          </li>
          <li class="site_nav__item">
            <a class="site_nav__link" href="./features.html">Features</a>
          </li>
          <li class="site_nav__item">
            <a class="site_nav__link" href="./contact.html">Contact-us</a>
          </li>
          <li class="site_nav__item__login">
            <a class="login_color" href="">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="hero">
    <div class="container hero_box">
      <div class="hero_box__title_container">
        <div class="hero_title_position">
          <p class="hero_title">Включи возможности</p>
        </div>
        <div class="hero_title_position">
          <h1 class="hero_title_second">
            <span class="title_color">Получи</span> Максимальную
            <span class="title_color">Прибыль</span>
          </h1>
        </div>
        <div class="hero_title_position">
          <p class="hero_title_third">
            Твой капитал растет за счет сферы P2P кредитования
          </p>
        </div>
        <div class="hero_title_position" style="display: flex">
          <a class="hero_button" href="" role="button">
            <span class="hero_button__text">Начни Инвестровать</span>
          </a>
        </div>
      </div>

      <div class="hero_box__phone">
        <div class="hero_phone">
          <img class="image" src="./images/phone.png" alt="" />
        </div>
      </div>
    </div>
  </section>
  <section class="about">
    <div class="container">
      <div class="about_box">
        <div class="about_box__title">
          <h2 class="about_title">
            Что такое <span class="about_title__color">Monexo-invest?</span>
          </h2>
        </div>
        <div class="about_box__title">
          <div class="about_box__title__size">
            <p class="about_title__text">
              Это международная платформа кредитования между людьми. Инвестор
              получает шанс удвоить свой капитал и выступить кредитором через
              Monexo, а заемщик получает средства на комфортных и гибких для
              него условиях. Все это происходит онлайн в удобном режиме для
              каждого.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="partenrs">
    <div class="container partners_box">
      <ul class="partners_list">
        <li class="partenrs_list__item">
          <div class="partners_item__box">
            <div class="partners_item__box_text">
              <p class="partners_item__text">Инвестор</p>
            </div>
            <div class="partners_item__box_image">
              <div class="box_image">
                <svg class="site-nav__icon" width="118" height="78">
                  <use href="./images/icons.svg#icon-deal"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="partners_text__box">
            <p class="partners_text">Инвестор</p>
          </div>
        </li>
        <li class="partenrs_list__item">
          <div class="partners_item__box">
            <div class="partners_item__box_text">
              <p class="partners_item__text">Monexo</p>
            </div>
            <div class="partners_item__box_image">
              <div class="box_image__size">
                <img
                  class="image_monexo"
                  alt="grouppng"
                  src="./images/grouppng.png"
                />
              </div>
            </div>
          </div>
          <div class="partners_text__box">
            <p class="partners_text">Monexo</p>
          </div>
        </li>
        <li class="partenrs_list__item">
          <div class="partners_item__box">
            <div class="partners_item__box_text">
              <p class="partners_item__text">Заемщик</p>
            </div>
            <div class="partners_item__box_image">
              <div class="box_image">
                <svg class="site-nav__icon" width="103" height="168">
                  <use href="./images/icons.svg#icon-pig"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="partners_text__box">
            <p class="partners_text">Заемщик</p>
          </div>
        </li>
      </ul>
      <div class="partners_invest">
        <div class="partners_invest__box">
          <p class="partners_text_invest">
            В условиях общей экономики, Monexo так же финансирует, Uber & Ola —
            траспортировки.
          </p>
        </div>
        <div class="partners_invest__box">
          <button class="partenrs_button" type="button">Приступим</button>
        </div>
      </div>
    </div>
  </section>

  <section class="present">
    <div class="container">
      <div class="present_box__title">
        <h2 class="present_title">
          <span class="present_title__color">Что мы </span>предлагаем
        </h2>
      </div>
      <div class="present_box__text">
        <div class="present_box__position">
          <p class="present_text">
            Monexo связывает на одно платформе тех кому нужны деньги и тех кто
            хочет удвоить свой капитал быстро и качественно. Мы предлагаем обеим
            сторонам выгодные и регулируемые нами условия, которые подходят
            каждому.
          </p>
        </div>
        <div class="present_box__position">
          <p class="present_text">
            Мы помогаем инвесторам диверсифицировать свой инвестиционный
            портфель с помощью заемщиков которые имеют рейтинг , а заемщикам
            пользоваться кредитными средствами удобно, бысто - лучше чем в
            банке.
          </p>
        </div>
      </div>
      <div class="present_box__plans">
        <div class="present_box_plans_change">
          <div class="present_box__change">
            <div class="present_daily">
              <button type="button" class="present_daily__link" href="/">
                Ежедневный
              </button>
            </div>
            <div class="present_weekly">
              <button type="button" class="present_weekly__link" href="/">
                Еженедельный
              </button>
            </div>
          </div>
          <div class="present_box__card">
            <div class="present_card"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="start">
    <div class="container">
      <div class="start_box__title">
        <h2 class="start_title">
          <span class="start_color__title"> Как начать</span> Инвестировать
        </h2>
      </div>
      <div class="start_box__text">
        <p class="start_text">Четыре простых шага</p>
      </div>

      <ul class="start_list">
        <li class="start_item">
          <img
            class="start_image"
            src="./images/phone1.png"
            alt="phone1"
            width="172"
          />
          <div class="srart_item_box__text">
            <h3 class="start_item__text">Регистрация</h3>
          </div>
        </li>
        <li class="start_item">
          <img
            class="start_image"
            src="./images/phone2.png"
            alt="phone2"
            width="172"
          />
          <div class="srart_item_box__text">
            <h3 class="start_item__text">Пополнение баланса</h3>
          </div>
        </li>
        <li class="start_item">
          <img
            class="start_image"
            src="./images/phone3.png"
            alt="phone3"
            width="172"
          />
          <div class="srart_item_box__text">
            <h3 class="start_item__text">Выбор условий</h3>
          </div>
        </li>
        <li class="start_item">
          <img
            class="start_image"
            src="./images/phone4.png"
            alt="phone4"
            width="172"
          />
          <div class="srart_item_box__text">
            <h3 class="start_item__text">Удовольствие и прибыль</h3>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="simple">
    <div class="container">
      <div class="simple_box__title">
        <h2 class="simple_title">
          <span class="simple_title__color">Мы вам</span> предоставляем
        </h2>
      </div>
      <div class="simple_box__property">
        <ul class="simple_list">
          <li class="simple_item">
            <div class="simple_item_box__image">
              <img
                class="svg_image"
                width="54"
                height="54"
                src="./images/add.svg"
                alt=""
              />
            </div>
            <h3 class="simple_item__title">100% Полную прозрачность</h3>
            <p class="simple_item__text">
              Вы получаете извещение о каждом начислении вы имеете прозрачную
              статистику знаете на что рассчитывать завтра – благодаря Монексо
            </p>
          </li>
          <li class="simple_item">
            <div class="simple_item_box__image">
              <img
                class="svg_image"
                width="54"
                height="54"
                src="./images/dubble.svg"
                alt=""
              />
            </div>
            <h3 class="simple_item__title">Безопасность отношений</h3>
            <p class="simple_item__text">
              Мы формируем отношение только с рейтинговыми заемщиками Ваша сумму
              проходит диверсификацию на несколько заемщиков Мы имеет уставной
              фонд в британском банке на 10 000 000 фунтов
            </p>
          </li>
          <li class="simple_item">
            <div class="simple_item_box__image">
              <img
                class="svg_image"
                width="54"
                height="54"
                src="./images/percent.svg"
                alt=""
              />
            </div>
            <h3 class="simple_item__title">Лучшие условия для инвестора</h3>
            <p class="simple_item__text">
              Увеличивайте свои сбережения более 18-39% в мес Быстрый
              (моментальный) вывод капитала (до 15 мин) Клиентоориентированность
              на высоком уровне
            </p>
          </li>
          <li class="simple_item">
            <img src="./images//people.png" alt="people" />
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="customers">
    <div class="container">
      <div class="customers_box__title">
        <h2 class="customers_title">
          Стена <span class="customers_title__color">Довольных клиентов</span>
        </h2>
      </div>
    </div>
    <div class="carusel">
      <div class="main-carousel">
        <div class="carousel-cell example">
          <div class="carusel_card">
            <div class="carusel_box__item">
              <img
                class="card_carusel__image"
                alt=""
                src="./images/rogan.jpeg"
              />
              <h3 class="carusel_card__title">Jeevan Goyal</h3>
            </div>
            <p class="carusel_card__text">
              Monexo is a great platform for people who want to invest their
              money in options other than FDs and the stock market. I really
              like how simple and transparent it is to invest via Monexo. Great
              job team!
            </p>
          </div>
        </div>
        <div class="carousel-cell example">
          <div class="carusel_card">
            <div class="carusel_box__item">
              <img
                class="card_carusel__image"
                alt=""
                src="./images/yadav.jpeg"
              />
              <h3 class="carusel_card__title">Rashmi Yadav</h3>
            </div>
            <p class="carusel_card__text">
              Monexo is a great platform for people who want to invest their
              money in options other than FDs and the stock market. I really
              like how simple and transparent it is to invest via Monexo. Great
              job team!
            </p>
          </div>
        </div>
        <div class="carousel-cell example">
          <div class="carusel_card">
            <div class="carusel_box__item">
              <img
                class="card_carusel__image"
                alt=""
                src="./images/amit.jpeg"
              />
              <h3 class="carusel_card__title">Amit Bhise</h3>
            </div>
            <p class="carusel_card__text">
              I really love how simple it is to invest via Monexo. It is truly a
              revolutionary P2P lending platform that has a clear understanding
              of the Indian context of borrowing and lending & risks related to
              that space. The team is really co-operative and they solve
              customer grievances on priority.
            </p>
          </div>
        </div>
        <div class="carousel-cell example">
          <div class="carusel_card">
            <div class="carusel_box__item">
              <img
                class="card_carusel__image"
                alt=""
                src="./images/ankit.jpeg"
              />
              <h3 class="carusel_card__title">Ankit Roy</h3>
            </div>
            <p class="carusel_card__text">
              I really love how simple it is to invest via Monexo. It is truly a
              revolutionary P2P lending platform that has a clear understanding
              of the Indian context of borrowing and lending & risks related to
              that space. The team is really co-operative and they solve
              customer grievances on priority.
            </p>
          </div>
        </div>
        <div class="carousel-cell example">
          <div class="carusel_card">
            <div class="carusel_box__item">
              <img
                class="card_carusel__image"
                alt=""
                src="./images/pathak.jpeg"
              />
              <h3 class="carusel_card__title">Rajiveer Pathak</h3>
            </div>
            <p class="carusel_card__text">
              Investing with them was one of the best experiences, the staff
              members are very helpful and friendly, they provide you with the
              best option and take all precautions to ensure that your money is
              safe.
            </p>
          </div>
        </div>
        <div class="carousel-cell example">
          <div class="carusel_card">
            <div class="carusel_box__item">
              <img
                class="card_carusel__image"
                alt=""
                src="./images/sarang.jpeg"
              />
              <h3 class="carusel_card__title">Rakshit Sarang</h3>
            </div>
            <p class="carusel_card__text">
              For those looking for alternative investment options to FDs and
              the stock market, Monexo is a great platform. I really like how
              simple and transparent it is to invest via Monexo. Great job team!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bag">
    <div class="container">
      <div class="bag_box">
        <div class="bag_box__title">
          <h2 class="bag_title">Диверсифицируйте свой портфель</h2>
          <p class="bag_text">Сейчас</p>
          <ul class="bag_list">
            <li class="bag_item">
              <a class="bag_button">
                <img class="bag_image_svg" src="./images/apple.svg" alt="" />
              </a>
            </li>
            <li class="bag_item">
              <a class="bag_button">
                <img class="bag_image_svg" src="./images//google.svg" alt="" />
              </a>
            </li>
          </ul>
        </div>
        <div>
          <img src="./images//twophone.png" alt="twophone" />
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="footer">
  <div class="container">
    <div class="footer_box">
      <div class="footer_box__icon">
        <img class="footer_logo" src="./images//monexo_logo_small.svg" alt="" />
        <p class="footer_text">Оставайтесь с нами на связи</p>
        <ul class="footer_list__icon">
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-facebookf"></use>
              </svg>
            </a>
          </li>
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-instagramf"></use>
              </svg>
            </a>
          </li>
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-linkedinf"></use>
              </svg>
            </a>
          </li>
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-twitterfo"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer_box__icon">
        <a href="/">
          <p class="footer_text">Партнёр с нами</p>
        </a>
        <a href="">
          <p class="footer_text">Институциональный ивестор</p>
        </a>
        <a href="">
          <p class="footer_text">Индивидуальный ивестор</p>
        </a>
        <a href="">
          <p class="footer_text">Монеско Расти</p>
        </a>
        <a href="">
          <p class="footer_text">Монеско Авто Инвест</p>
        </a>
      </div>
      <div class="footer_box__icon">
        <a href="">
          <p class="footer_text">О нас</p>
        </a>
        <a href="">
          <p class="footer_text">Контакт</p>
        </a>
        <a href="">
          <p class="footer_text">Блоги</p>
        </a>
        <a href="">
          <p class="footer_text">Производительность портфеля</p>
        </a>
        <a href="">
          <p class="footer_text">Кредит с Монеско</p>
        </a>
      </div>
      <div class="footer_box__icon">
        <a href="">
          <p class="footer_text">Поддержка и часто задаваемые вопросы</p>
        </a>
        <a href="">
          <p class="footer_text">Безопасность</p>
        </a>
        <a href="">
          <p class="footer_text">Политика конфеденциальности</p>
        </a>
        <a href="">
          <p class="footer_text">Условия и положения</p>
        </a>
      </div>
      <div class="footer_box__icon footer_app__show">
        <p class="footer_app__title">Приложение Монеско для инвесторов</p>
        <ul class="footer_app__list">
          <li class="footer_app__item">
            <img
              class="footer_image__app"
              alt="google"
              src="./images/footer_google.png"
            />
          </li>
          <li class="footer_app__item">
            <img
              class="footer_image__app"
              alt="apple"
              src="./images/footer_apple.png"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container footer_container">
    <div class="footer_box__label">
      <img
        class="image_footer__label"
        src="./images/footer_icon_label.png"
        alt="label"
      />
    </div>
    <div class="footer_box__label">
      <p class="footer_labe__text">
        Резервный банИндии не берет на себя никакой ответствености за
        правильность каких-либо заявлений или представлений,или
        мненийбвыраженных Monexo , и не дает никаких гарантий погашения
        кредитов, предоставленых ему
      </p>
    </div>
    <div class="footer_box__label">
      <p class="footer_labe__text">
        Monexo Fintech Privat Limited (www.monexo.co) имеет действующее
        свидетельство о регистрации (CoR) от 28 июня 2018 года выданное
        Резервным банком Индии в соответсвии с разделом 45 IA Закона о Резервном
        банке Индии 1934 года.
      </p>
    </div>
    <div>
      <p class="footer_labe__text">
        @ Авторское право Монексо.Все права защищены.
      </p>
    </div>
  </div>
</footer>
<div class="mobile__block is-open" data-menu>
  <ul class="site_nav__list site-nav__list_mobile">
    <li class="site_nav__item">
      <a class="site_nav__link" href="/monexo/">Home</a>
    </li>
    <li class="site_nav__item">
      <a class="site_nav__link" href="./partner.html">Partner</a>
    </li>
    <li class="site_nav__item">
      <a class="site_nav__link js_click_invest">Invest</a>
    </li>
    <div class="site_nav__list site-nav__list_mobile onClick js_container_menu">
      <a
        class="site_nav__link js_click_invest link_position"
        href="./investors.html"
        >Institutional Investors</a
      >
      <a
        class="site_nav__link js_click_invest link_position"
        href="./individ.html"
        >Individual Investors</a
      >
    </div>
    <li class="site_nav__item">
      <a class="site_nav__link" href="./features.html">Features</a>
    </li>
    <li class="site_nav__item">
      <a class="site_nav__link" href="./contact.html">Contact-us</a>
    </li>
    <li class="site_nav__item__login">
      <a class="login_color" href="">Login</a>
    </li>
  </ul>
</div>
<div class="hover_block is-open js_hover_Menu">
  <p class="hover_title">Invest</p>
  <span class="hover_border"></span>
  <div class="hover_box">
    <a class="hover_box__site" href="./investors.html">
      <img
        class="hover_box__image"
        alt="image"
        src="./images/hover_box_image_first.png"
      />
      <div>
        <h3 class="hover_box__title">Institutional Investors</h3>
        <p class="hover_box__text">
          Investment opportunities for institutions such as Banks Invesment,
          Funds Wealth and Offices.
        </p>
      </div>
    </a>
    <a class="hover_box__site" href="./individ.html">
      <div class="hover_box__site">
        <img
          class="hover_box__image"
          alt="image"
          src="./images/hover_box_image_second.png"
        />
        <div>
          <h3 class="hover_box__title">Individual Investors</h3>
          <p class="hover_box__text">
            Facilitates discovery and trading of exclusive p2p opportunities,
            enabling you to make prudent investments.
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
