<div class="section section--mobile">
  <div class="container">
    <div class="header__mobile">
      <a class="icon" href="/monexo/">
        <svg class="site-nav__icon" width="150" height="38">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <button
        type="button"
        class="mobile__button is-open"
        data-menu-button
        aria-expanded="false"
      >
        <svg
          class="button__mobile--svg"
          width="40"
          height="40"
          aria-label="Переключатель мобильного меню"
        >
          <use
            class="header__svg is-open"
            href="./images/icons.svg#icon-burger"
          ></use>
        </svg>
        <svg
          class="button__mobile--close"
          width="40"
          height="40"
          aria-label="Переключатель мобильного меню"
        >
          <use
            class="mobile__svg is-open"
            href="./images/icons.svg#icon-burger-close"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</div>
<header class="header">
  <div class="header_content">
    <div class="header_icon">
      <a class="site_nav__link" href="/">
        <svg class="site-nav__icon" width="213" height="38">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <div class="site_nav">
      <div class="site_nav__box">
        <ul class="site_nav__list">
          <li class="site_nav__item">
            <a class="site_nav__link" href="/monexo/">Home</a>
          </li>
          <li class="site_nav__item">
            <a class="site_nav__link" href="./partner.html">Partner</a>
          </li>
          <li class="site_nav__item">
            <a class="site_nav__link js_hover_element" href="">Invest</a>
          </li>
          <li class="site_nav__item">
            <a class="site_nav__link link-current_show" href="./features.html"
              >Features</a
            >
          </li>
          <li class="site_nav__item">
            <a class="site_nav__link" href="./contact.html">Contact-us</a>
          </li>
          <li class="site_nav__item__login">
            <a class="login_color" href="">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="features">
    <div class="container">
      <div class="features_box">
        <div class="features_box__visible"></div>
        <div class="features_box__title">
          <h2 class="features_title">Auto Invest</h2>
          <h3 class="features_title_down">
            is a feature that helps you <br />
            automate your lending.
          </h3>
          <p class="features_text">
            Monexo is India's first peer to peer lender that provides the
            ability to do automated investment in loans listed in the
            marketplace. Its a hands-off way to find and fund loans without
            logging into the Monexo platform. Once you set the lending rules,
            orders are placed automatically. It is that simple!
          </p>
          <a class="features_link" href="">Get Started</a>
        </div>
      </div>
    </div>
  </section>
  <section class="benefits">
    <div class="container">
      <div class="benefits_box">
        <div class="benefits_box_title">
          <h2 class="benefits_title">
            Benefits of Auto <br />
            Invest
          </h2>
        </div>
        <div class="benefits_box_card">
          <div class="investment_card__first">
            <div class="investment_first_box__image benefits_position">
              <img
                class="investment_first__image benefits_image_position"
                src="./images/features_first.svg"
                alt="ves"
              />
              <h2 class="investment_first__title">Speed</h2>
            </div>
            <div class="investment_first__text_box">
              <p class="investment_first__text">
                You don't miss an opportunity to fund loans even when you are
                not online. Your idle cash gets deployed quickly.
              </p>
            </div>
          </div>
          <div class="investment_card__second">
            <div class="investment_card_second__box benefits_position">
              <img
                class="investment_second__image"
                src="./images/features_second.svg"
                alt="shkala"
              />
              <h2 class="investment_secont__title">Control</h2>
            </div>
            <p class="invesrment_second__text">
              You can continue to fund loans manually while using Auto-Invest
            </p>
          </div>
          <div class="investment_card__third">
            <div class="investment_card__third_box__image benefits_position">
              <img
                class="investment_third__image benefits_image_position"
                src="./images/features_third.svg"
                alt=""
              />
              <h2 class="investment_third__title">Flexible</h2>
            </div>
            <div class="investment_third_box__text">
              <p class="investment_third__text">
                You don't miss an opportunity to fund loans even when you are
                not online. Your idle cash gets deployed quickly.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="grow">
    <div class="container">
      <div class="grow_box">
        <div class="grow_box_image">
          <img
            class="grow_image"
            src="./images/features_image.png"
            alt="people"
          />
        </div>
        <div class="grow_box_title">
          <h2 class="grow_title">Monexo Grow</h2>
          <p class="grow_text">
            By investing in risk-assessed, personal loans from creditworthy
            salaried borrowers, Monexo Grow enables investors with a small
            budget to participate in peer-to-peer lending.
          </p>
          <p class="grow_text_green">
            Start investing in the form of SIP with as low as ₹ 5,000 monthly.
          </p>
          <a class="features_link" href="">Get Started</a>
        </div>
      </div>
    </div>
  </section>
  <section class="why_grow">
    <div class="container">
      <h2 class="why_grow_title">Why Monexo Grow?</h2>
      <p class="why_grow_text">
        Monexo Auto Grow offers you a host of more and exciting features than
        your regular investment opportunities to get <br />
        your profits ever higher. Here are some of them:
      </p>
      <div class="why_grow_carusel">
        <div class="main-carousel-grow">
          <div class="carousel-cell example">
            <div class="why_grow__item">
              <img
                class="carusel_item_image"
                src="./images/carusel_item_first.svg"
                alt="first"
              />
              <h2 class="carusel_item_title">
                Invest Monthly,<br />Earn Monthly
              </h2>
              <p class="carusel_item_text">
                Earn upto 3 times more than your traditional investments and
                multiply your savings at a better rate.
              </p>
            </div>
          </div>
          <div class="carousel-cell example">
            <div class="why_grow__item">
              <img
                class="carusel_item_image"
                src="./images/carusel_item_second.svg"
                alt="second"
              />
              <h2 class="carusel_item_title">Upto 3X Higher <br />Returns</h2>
              <p class="carusel_item_text">
                Earn upto 3 times more than your traditional investments and
                multiply your savings at a better rate.
              </p>
            </div>
          </div>
          <div class="carousel-cell example">
            <div class="why_grow__item">
              <img
                class="carusel_item_image"
                src="./images/carusel_item_third.svg"
                alt="third"
              />
              <h2 class="carusel_item_title">Auto <br />Invest</h2>
              <p class="carusel_item_text">
                Get rid from the tension of keeping a track of your investment.
                Set payment terms and date and Voila! Sit back and relax.
              </p>
            </div>
          </div>
          <div class="carousel-cell example">
            <div class="why_grow__item">
              <img
                class="carusel_item_image"
                src="./images/carusel_item_four.svg"
                alt="four"
              />
              <h2 class="carusel_item_title">Verified <br />Buyers</h2>
              <p class="carusel_item_text">
                In order to ensure the credibility of the borrowers, Monexo
                screens them on more than 200 parameters.
              </p>
            </div>
          </div>
          <div class="carousel-cell example">
            <div class="why_grow__item">
              <img
                class="carusel_item_image"
                src="./images/carusel_item_five.svg"
                alt="five"
              />
              <h2 class="carusel_item_title">
                Reduced Risk With <br />Diverse Portfolio
              </h2>
              <p class="carusel_item_text">
                Mitigate the risks associated with investments by diversifying
                across a wide range of loans available.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="income">
    <div class="container">
      <div class="income_box">
        <div class="income_image_box">
          <img class="income_image" src="./images/features_phone.svg" alt="" />
        </div>
        <div class="income_title_box">
          <h2 class="income_title">Monthly Income Plan</h2>
          <h3 class="income_title_down">Your income, your decision.</h3>
          <p class="income_text">
            Every month, the interest component of your borrower repayments is
            credited directly to your bank account. You can decide what to do
            with this repayment, you can choose from different options available
            or even DONATE it for a worthy cause of your choice.
          </p>
          <h3 class="income_title_last">Download the app now</h3>
          <ul class="income_list">
            <li class="income_item">
              <img
                class="income_image_app"
                src="./images/appstore_image.svg"
                alt=""
              />
            </li>
            <li class="income_item">
              <img
                class="income_image_app"
                src="./images/googel_image.svg"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="footer">
  <div class="container">
    <div class="footer_box">
      <div class="footer_box__icon">
        <img class="footer_logo" src="./images//monexo_logo_small.svg" alt="" />
        <p class="footer_text">Оставайтесь с нами на связи</p>
        <ul class="footer_list__icon">
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-facebookf"></use>
              </svg>
            </a>
          </li>
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-instagramf"></use>
              </svg>
            </a>
          </li>
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-linkedinf"></use>
              </svg>
            </a>
          </li>
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-twitterfo"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer_box__icon">
        <a href="/">
          <p class="footer_text">Партнёр с нами</p>
        </a>
        <a href="">
          <p class="footer_text">Институциональный ивестор</p>
        </a>
        <a href="">
          <p class="footer_text">Индивидуальный ивестор</p>
        </a>
        <a href="">
          <p class="footer_text">Монеско Расти</p>
        </a>
        <a href="">
          <p class="footer_text">Монеско Авто Инвест</p>
        </a>
      </div>
      <div class="footer_box__icon">
        <a href="">
          <p class="footer_text">О нас</p>
        </a>
        <a href="">
          <p class="footer_text">Контакт</p>
        </a>
        <a href="">
          <p class="footer_text">Блоги</p>
        </a>
        <a href="">
          <p class="footer_text">Производительность портфеля</p>
        </a>
        <a href="">
          <p class="footer_text">Кредит с Монеско</p>
        </a>
      </div>
      <div class="footer_box__icon">
        <a href="">
          <p class="footer_text">Поддержка и часто задаваемые вопросы</p>
        </a>
        <a href="">
          <p class="footer_text">Безопасность</p>
        </a>
        <a href="">
          <p class="footer_text">Политика конфеденциальности</p>
        </a>
        <a href="">
          <p class="footer_text">Условия и положения</p>
        </a>
      </div>
      <div class="footer_box__icon footer_app__show">
        <p class="footer_app__title">Приложение Монеско для инвесторов</p>
        <ul class="footer_app__list">
          <li class="footer_app__item">
            <img
              class="footer_image__app"
              alt="google"
              src="./images/footer_google.png"
            />
          </li>
          <li class="footer_app__item">
            <img
              class="footer_image__app"
              alt="apple"
              src="./images/footer_apple.png"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container footer_container">
    <div class="footer_box__label">
      <img
        class="image_footer__label"
        src="./images/footer_icon_label.png"
        alt="label"
      />
    </div>
    <div class="footer_box__label">
      <p class="footer_labe__text">
        Резервный банИндии не берет на себя никакой ответствености за
        правильность каких-либо заявлений или представлений,или
        мненийбвыраженных Monexo , и не дает никаких гарантий погашения
        кредитов, предоставленых ему
      </p>
    </div>
    <div class="footer_box__label">
      <p class="footer_labe__text">
        Monexo Fintech Privat Limited (www.monexo.co) имеет действующее
        свидетельство о регистрации (CoR) от 28 июня 2018 года выданное
        Резервным банком Индии в соответсвии с разделом 45 IA Закона о Резервном
        банке Индии 1934 года.
      </p>
    </div>
    <div>
      <p class="footer_labe__text">
        @ Авторское право Монексо.Все права защищены.
      </p>
    </div>
  </div>
</footer>
<div class="mobile__block is-open" data-menu>
  <ul class="site_nav__list site-nav__list_mobile">
    <li class="site_nav__item">
      <a class="site_nav__link" href="/monexo/">Home</a>
    </li>
    <li class="site_nav__item">
      <a class="site_nav__link" href="./partner.html">Partner</a>
    </li>
    <li class="site_nav__item">
      <a class="site_nav__link js_click_invest">Invest</a>
    </li>
    <div class="site_nav__list site-nav__list_mobile onClick js_container_menu">
      <a
        class="site_nav__link js_click_invest link_position"
        href="./investors.html"
        >Institutional Investors</a
      >
      <a
        class="site_nav__link js_click_invest link_position"
        href="./individ.html"
        >Individual Investors</a
      >
    </div>
    <li class="site_nav__item">
      <a class="site_nav__link" href="./features.html">Features</a>
    </li>
    <li class="site_nav__item">
      <a class="site_nav__link" href="./contact.html">Contact-us</a>
    </li>
    <li class="site_nav__item__login">
      <a class="login_color" href="">Login</a>
    </li>
  </ul>
</div>
<div class="hover_block is-open js_hover_Menu">
  <p class="hover_title">Invest</p>
  <span class="hover_border"></span>
  <div class="hover_box">
    <a class="hover_box__site" href="./investors.html">
      <img
        class="hover_box__image"
        alt="image"
        src="./images/hover_box_image_first.png"
      />
      <div>
        <h3 class="hover_box__title">Institutional Investors</h3>
        <p class="hover_box__text">
          Investment opportunities for institutions such as Banks Invesment,
          Funds Wealth and Offices.
        </p>
      </div>
    </a>
    <a class="hover_box__site" href="./individ.html">
      <div class="hover_box__site">
        <img
          class="hover_box__image"
          alt="image"
          src="./images/hover_box_image_second.png"
        />
        <div>
          <h3 class="hover_box__title">Individual Investors</h3>
          <p class="hover_box__text">
            Facilitates discovery and trading of exclusive p2p opportunities,
            enabling you to make prudent investments.
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
