<div class="section section--mobile">
  <div class="container">
    <div class="header__mobile">
      <a class="icon" href="/monexo/">
        <svg class="site-nav__icon" width="150" height="38">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <button
        type="button"
        class="mobile__button is-open"
        data-menu-button
        aria-expanded="false"
      >
        <svg
          class="button__mobile--svg"
          width="40"
          height="40"
          aria-label="Переключатель мобильного меню"
        >
          <use
            class="header__svg is-open"
            href="./images/icons.svg#icon-burger"
          ></use>
        </svg>
        <svg
          class="button__mobile--close"
          width="40"
          height="40"
          aria-label="Переключатель мобильного меню"
        >
          <use
            class="mobile__svg is-open"
            href="./images/icons.svg#icon-burger-close"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</div>
<header class="header">
  <div class="header_content">
    <div class="header_icon">
      <a class="site_nav__link" href="/monexo/">
        <svg class="site-nav__icon" width="213" height="38">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <div class="site_nav">
      <div class="site_nav__box">
        <ul class="site_nav__list">
          <li class="site_nav__item">
            <a class="site_nav__link" href="/monexo/">Home</a>
          </li>
          <li class="site_nav__item link-current_show">
            <a class="site_nav__link" href="./partner.html">Partner</a>
          </li>
          <li class="site_nav__item js_hover_element">
            <a class="site_nav__link" href="">Invest</a>
          </li>
          <li class="site_nav__item">
            <a class="site_nav__link" href="./features.html">Features</a>
          </li>
          <li class="site_nav__item">
            <a class="site_nav__link" href="./contact.html">Contact-us</a>
          </li>
          <li class="site_nav__item__login">
            <a class="login_color" href="">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="partner_hero">
    <div class="container">
      <div class="partner_hero__box">
        <div class="partner_hero_box__title">
          <h2 class="partner_hero__title">
            <span class="partner_hero__title_color">Pioneer</span> with us
          </h2>
          <h3 class="partner_hero__title_second">
            Become a Monexo channel partner.
          </h3>
          <p class="partner_hero__text">
            As a Monexo channel partner, you will be able to increase and
            diversify your practice or business by offering new investment
            opportunities to your clients.
          </p>
          <a class="partner_hero__button" href="">
            <span>Partner App</span>
          </a>
        </div>
        <div class="partner_hero_box__image">
          <img
            src="./images/partner_image.png"
            alt="image"
            class="partner_hero__image size_image"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="canbe">
    <div class="container">
      <h2 class="canbe_title">
        <span class="canbe_title__color">Who can be a</span> Monexo Partner?
      </h2>
      <p class="canbe_text">
        These are the ones who can become a Monexo Partner
      </p>
      <ul class="canbe_list">
        <li class="canbe_list__item">
          <div class="canbe_item__box">
            <div>
              <img class="canbe_talk__image" alt="" src="./images/talk.svg" />
            </div>
            <div class="canbe_item__box_title">
              <h3 class="canbe_card__title">
                Independent Chartered Accountants/CA Firms
              </h3>
              <p class="canbe_card__text">
                Accountants who are not associated with firms but are licensed
                or otherwise authorized to practice accounting by a state or
                jurisdiction.
              </p>
            </div>
          </div>
        </li>
        <li class="canbe_list__item">
          <div class="canbe_item__box">
            <div>
              <img
                class="canbe_talk__image"
                alt=""
                src="./images/partner_bag.svg"
              />
            </div>
            <div class="canbe_item__box_title">
              <h3 class="canbe_card__title">
                Corporate Deposit Distributors/ Post Office Deposit Distributors
              </h3>
              <p class="canbe_card__text">
                An individual or a company which are distributing NBFC Deposits
                or Corporate Deposits or Post Office Deposits. With Monexo you
                can enable your clients to earn better.
              </p>
            </div>
          </div>
        </li>
        <li class="canbe_list__item">
          <div class="canbe_item__box">
            <div>
              <img
                class="canbe_talk__image"
                alt=""
                src="./images/pfrtner_three.svg"
              />
            </div>
            <div class="canbe_item__box_title">
              <h3 class="canbe_card__title">Mutual Fund Distributors</h3>
              <p class="canbe_card__text">
                Individuals or organizations that facilitate investors'
                purchases and sales of mutual fund units.
              </p>
            </div>
          </div>
        </li>
        <li class="canbe_list__item">
          <div class="canbe_item__box size">
            <div>
              <img
                class="canbe_talk__image"
                alt=""
                src="./images/partner_money.svg"
              />
            </div>
            <div class="canbe_item__box_title">
              <h3 class="canbe_card__title">Insurance Agents</h3>
              <p class="canbe_card__text">
                An Individual or a firm who have clients who they interact
                regularly to advice on various insurance products.
              </p>
            </div>
          </div>
        </li>
        <li class="canbe_list__item">
          <div class="canbe_item__box size">
            <div>
              <img
                class="canbe_talk__image"
                alt=""
                src="./images/partner_money_2.svg"
              />
            </div>
            <div class="canbe_item__box_title">
              <h3 class="canbe_card__title">Wealth Managers</h3>
              <p class="canbe_card__text">
                Individuals who specialize in advising high-net-worth
                individuals and affluent families on how to invest their
                portfolios and plan their finances for success
              </p>
            </div>
          </div>
        </li>
        <li class="canbe_list__item">
          <div class="canbe_item__box size">
            <div>
              <img
                class="canbe_talk__image"
                alt=""
                src="./images/partner_call.svg"
              />
            </div>
            <div class="canbe_item__box_title">
              <h3 class="canbe_card__title">Financial Consultants</h3>
              <p class="canbe_card__text">
                Individuals whose job is to give people and companies advice
                about investing their money, getting loans, etc
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="with_us">
    <div class="container">
      <h2 class="with_us__title">
        <span class="with_us_title__color">Why</span> Partner
        <span class="with_us_title__color">With Us?</span>
      </h2>
      <p class="with_us__text">
        Our mission at Monexo is to pave the way for the future by forming a
        global marketplace of mutually beneficial partnerships with companies
        and individuals as visionary as us.
      </p>
      <ul class="with_us_list">
        <li class="with_is_item">
          <div class="with_us_box__item">
            <img
              src="./images/partner_point.svg"
              class="with_us_item__image"
              alt=""
            />
            <p class="with_use_item__text_inside">Choice of diverse products</p>
          </div>
          <p class="with_us_item__text">
            Discover new investment products with greater returns and liquidity
            for your clients.
          </p>
        </li>
        <li class="with_is_item">
          <div class="with_us_box__item">
            <img
              src="./images/partner_dots.svg"
              class="with_us_item__image"
              alt=""
            />
            <p class="with_use_item__text_inside">
              100% <br />
              transparency
            </p>
          </div>
          <p class="with_us_item__text">
            Get complete transparency on all your referrals' investments with
            the Monexo partner dashboard.
          </p>
        </li>
        <li class="with_is_item">
          <div class="with_us_box__item">
            <img
              src="./images/partner_dots_money.svg"
              class="with_us_item__image"
              alt=""
            />
            <p class="with_use_item__text_inside">Earn good commissions</p>
          </div>
          <p class="with_us_item__text">
            Earn handsome commissions on your referrals' investments as you help
            them diversify their portfolio.
          </p>
        </li>
        <li class="with_is_item">
          <div class="with_us_box__item">
            <img
              src="./images/partner_dollar.svg"
              class="with_us_item__image"
              alt=""
            />
            <p class="with_use_item__text_inside">Get regular payouts</p>
          </div>
          <p class="with_us_item__text">
            Enjoy a source9 of passive income with regular payouts of commission
            earned
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="acount">
    <div class="acount_container">
      <div class="acount_box">
        <div class="acount_box__image">
          <img class="acount_image" src="./images/arrow_people.svg" alt="" />
        </div>
        <h3 class="acount_title">Escrow Account</h3>
        <p class="acount_text">
          We are the first P2P company in India to partner and hold your funds
          in an escrow account. We have partnered up with IDBI Trusteeship
          Services Limited as our third-party administrator. This makes the
          whole process a lot easier because they can execute lending-related
          instructions given by you.
        </p>
      </div>

      <div class="acount_box__left">
        <div class="acount_box__image">
          <img class="acount_image" src="./images/acount_contact.svg" alt="" />
        </div>
        <h3 class="acount_title">Borrower Screening</h3>
        <p class="acount_text">
          All our borrowers are from India. We collect essential documents to
          verify their background and assess their credit quality to determine
          an interest rate appropriate to their probability of repayment.
        </p>
      </div>
    </div>
  </section>
  <section class="become">
    <div class="container">
      <h2 class="become_title">
        <span class="become_title__color">How Do you become a</span> Monexo
        Partner?
      </h2>
      <ul class="become_list">
        <li class="become_list__item">
          <img class="become_image" src="./images/become_register.svg" alt="" />
          <h3 class="become_item__title">Register</h3>
          <p class="become_item__text">
            Register online as a partner on our app. Our team will reach out for
            the next steps.
          </p>
        </li>
        <li class="become_list__item">
          <img class="become_image" src="./images/become_dots.svg" alt="" />
          <h3 class="become_item__title">Share & Monitor</h3>
          <p class="become_item__text">
            You will get a unique link using which you can refer it to your
            clients and also you get access to a dashboard through which you
            will be able to track your client’s investments.
          </p>
        </li>
        <li class="become_list__item">
          <img class="become_image" alt="" src="./images/become_cash.svg" />
          <h3 class="become_item__title">Get Paid</h3>
          <p class="become_item__text">
            You get paid for every successful invesment made. Payouts are done
            on a monthly basis.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="platform">
    <div class="container">
      <div class="platform_box">
        <div class="platform_box__image">
          <img
            class="platform_image"
            alt=""
            src="./images/platform_phone.png"
          />
        </div>
        <div class="platform_box__title">
          <h2 class="platform_title">
            One <span class="platform_title__color">Platform</span>
          </h2>
          <p class="platform_text">
            Register on the app to easily manage all your referrals easily in a
            single easy to use app. Share your referral link and track your
            referrals on our dashboard.
          </p>

          <ul class="platform_list__app">
            <li class="platform_item__app">
              <img
                class="footer_image__app"
                src="./images/footer_apple.png"
                alt=""
              />
            </li>
            <li>
              <img
                class="footer_image__app"
                src="./images/footer_google.png"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="what_say">
    <div class="container">
      <h2 class="what_say__title">
        <span class="what_say__title__color">Hear what our</span>
        Partners Say
      </h2>
    </div>
    <div class="what_say_main-carousel">
      <div class="carousel-cell example">
        <div class="what_say__box_carusel">
          <img class="what_say__image" src="./images/first.jpeg" alt="" />
          <div>
            <h3 class="what_say__title_carusel">Mr. Chokalingam</h3>
            <p class="what_say__text_carusel">
              We are delighted to partner with Monexo targeting the wealth
              segment. The platform of Monexo has been instrumental in providing
              NBFC-MFIs access to the retail investors market and diversifying
              their liability profile.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell example">
        <div class="what_say__box_carusel">
          <img class="what_say__image" src="./images/ved.jpeg" alt="" />
          <div>
            <h3 class="what_say__title_carusel">Mr. Mehul Ved</h3>
            <p class="what_say__text_carusel">
              Our association with Monexo has helped us to gain more wallet
              share. Our clients benefit from better risk-adjusted returns as a
              result of Monexo's unique offerings. It is a very smooth and
              seamless experience when you work with Monexo.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell example">
        <div class="what_say__box_carusel">
          <img class="what_say__image" src="./images/karwa.jpeg" alt="" />
          <div>
            <h3 class="what_say__title_carusel">Mr. Vivek Karwa</h3>
            <p class="what_say__text_carusel">
              Being associated with Monexo has helped us gain more wallet share
              for our customers. We are able to deliver better risk-adjusted
              returns for our clients thanks to Monexo unique offerings. The
              process at Monexo is seamless and very smooth which makes the
              whole experience bliss.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell example">
        <div class="what_say__box_carusel">
          <img class="what_say__image" src="./images/first.jpeg" alt="" />
          <div>
            <h3 class="what_say__title_carusel">Mr. Chokalingam</h3>
            <p class="what_say__text_carusel">
              We are delighted to partner with Monexo targeting the wealth
              segment. The platform of Monexo has been instrumental in providing
              NBFC-MFIs access to the retail investors market and diversifying
              their liability profile.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell example">
        <div class="what_say__box_carusel">
          <img class="what_say__image" src="./images/ved.jpeg" alt="" />
          <div>
            <h3 class="what_say__title_carusel">Mr. Mehul Ved</h3>
            <p class="what_say__text_carusel">
              Our association with Monexo has helped us to gain more wallet
              share. Our clients benefit from better risk-adjusted returns as a
              result of Monexo's unique offerings. It is a very smooth and
              seamless experience when you work with Monexo.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell example">
        <div class="what_say__box_carusel">
          <img class="what_say__image" src="./images/karwa.jpeg" alt="" />
          <div>
            <h3 class="what_say__title_carusel">Mr. Vivek Karwa</h3>
            <p class="what_say__text_carusel">
              Being associated with Monexo has helped us gain more wallet share
              for our customers. We are able to deliver better risk-adjusted
              returns for our clients thanks to Monexo unique offerings. The
              process at Monexo is seamless and very smooth which makes the
              whole experience bliss.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="want_be">
    <div class="container">
      <h2 class="want_be_title">
        <span class="want_be_title__color"> Want to be a Monexo </span>Partner?
      </h2>
      <p class="want_be_text">
        Join Monexo, in our mission, to pave the way for the future by creating
        a global marketplace of mutually beneficial partnerships.
      </p>
      <div class="want_be_button_box">
        <a class="want_be_button" href="">Join Now!</a>
      </div>
    </div>
  </section>
</main>
<footer class="footer">
  <div class="container">
    <div class="footer_box">
      <div class="footer_box__icon">
        <img class="footer_logo" src="./images//monexo_logo_small.svg" alt="" />
        <p class="footer_text">Оставайтесь с нами на связи</p>
        <ul class="footer_list__icon">
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-facebookf"></use>
              </svg>
            </a>
          </li>
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-instagramf"></use>
              </svg>
            </a>
          </li>
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-linkedinf"></use>
              </svg>
            </a>
          </li>
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-twitterfo"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer_box__icon">
        <a href="/">
          <p class="footer_text">Партнёр с нами</p>
        </a>
        <a href="">
          <p class="footer_text">Институциональный ивестор</p>
        </a>
        <a href="">
          <p class="footer_text">Индивидуальный ивестор</p>
        </a>
        <a href="">
          <p class="footer_text">Монеско Расти</p>
        </a>
        <a href="">
          <p class="footer_text">Монеско Авто Инвест</p>
        </a>
      </div>
      <div class="footer_box__icon">
        <a href="">
          <p class="footer_text">О нас</p>
        </a>
        <a href="">
          <p class="footer_text">Контакт</p>
        </a>
        <a href="">
          <p class="footer_text">Блоги</p>
        </a>
        <a href="">
          <p class="footer_text">Производительность портфеля</p>
        </a>
        <a href="">
          <p class="footer_text">Кредит с Монеско</p>
        </a>
      </div>
      <div class="footer_box__icon">
        <a href="">
          <p class="footer_text">Поддержка и часто задаваемые вопросы</p>
        </a>
        <a href="">
          <p class="footer_text">Безопасность</p>
        </a>
        <a href="">
          <p class="footer_text">Политика конфеденциальности</p>
        </a>
        <a href="">
          <p class="footer_text">Условия и положения</p>
        </a>
      </div>
      <div class="footer_box__icon footer_app__show">
        <p class="footer_app__title">Приложение Монеско для инвесторов</p>
        <ul class="footer_app__list">
          <li class="footer_app__item">
            <img
              class="footer_image__app"
              alt="google"
              src="./images/footer_google.png"
            />
          </li>
          <li class="footer_app__item">
            <img
              class="footer_image__app"
              alt="apple"
              src="./images/footer_apple.png"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container footer_container">
    <div class="footer_box__label">
      <img
        class="image_footer__label"
        src="./images/footer_icon_label.png"
        alt="label"
      />
    </div>
    <div class="footer_box__label">
      <p class="footer_labe__text">
        Резервный банИндии не берет на себя никакой ответствености за
        правильность каких-либо заявлений или представлений,или
        мненийбвыраженных Monexo , и не дает никаких гарантий погашения
        кредитов, предоставленых ему
      </p>
    </div>
    <div class="footer_box__label">
      <p class="footer_labe__text">
        Monexo Fintech Privat Limited (www.monexo.co) имеет действующее
        свидетельство о регистрации (CoR) от 28 июня 2018 года выданное
        Резервным банком Индии в соответсвии с разделом 45 IA Закона о Резервном
        банке Индии 1934 года.
      </p>
    </div>
    <div>
      <p class="footer_labe__text">
        @ Авторское право Монексо.Все права защищены.
      </p>
    </div>
  </div>
</footer>
<div class="mobile__block is-open" data-menu>
  <ul class="site_nav__list site-nav__list_mobile">
    <li class="site_nav__item">
      <a class="site_nav__link" href="/monexo/">Home</a>
    </li>
    <li class="site_nav__item">
      <a class="site_nav__link" href="./partner.html">Partner</a>
    </li>
    <li class="site_nav__item">
      <a class="site_nav__link js_click_invest">Invest</a>
    </li>
    <div class="site_nav__list site-nav__list_mobile onClick js_container_menu">
      <a
        class="site_nav__link js_click_invest link_position"
        href="./investors.html"
        >Institutional Investors</a
      >
      <a
        class="site_nav__link js_click_invest link_position"
        href="./individ.html"
        >Individual Investors</a
      >
    </div>
    <li class="site_nav__item">
      <a class="site_nav__link" href="./features.html">Features</a>
    </li>
    <li class="site_nav__item">
      <a class="site_nav__link" href="./contact.html">Contact-us</a>
    </li>
    <li class="site_nav__item__login">
      <a class="login_color" href="">Login</a>
    </li>
  </ul>
</div>
<div class="hover_block is-open js_hover_Menu">
  <p class="hover_title">Invest</p>
  <span class="hover_border"></span>
  <div class="hover_box">
    <a class="hover_box__site" href="./investors.html">
      <img
        class="hover_box__image"
        alt="image"
        src="./images/hover_box_image_first.png"
      />
      <div>
        <h3 class="hover_box__title">Institutional Investors</h3>
        <p class="hover_box__text">
          Investment opportunities for institutions such as Banks Invesment,
          Funds Wealth and Offices.
        </p>
      </div>
    </a>
    <a class="hover_box__site" href="./individ.html">
      <div class="hover_box__site">
        <img
          class="hover_box__image"
          alt="image"
          src="./images/hover_box_image_second.png"
        />
        <div>
          <h3 class="hover_box__title">Individual Investors</h3>
          <p class="hover_box__text">
            Facilitates discovery and trading of exclusive p2p opportunities,
            enabling you to make prudent investments.
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
