.elementor-652 .elementor-element.elementor-element-abcde68 > .elementor-container{max-width:1400px;}.elementor-652 .elementor-element.elementor-element-abcde68 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-652 .elementor-element.elementor-element-abcde68:not(.elementor-motion-effects-element-type-background), .elementor-652 .elementor-element.elementor-element-abcde68 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-e9da337 );}.elementor-652 .elementor-element.elementor-element-abcde68{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:15px 0px 15px 0px;}.elementor-652 .elementor-element.elementor-element-abcde68 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-652 .elementor-element.elementor-element-837a2ee img{width:100%;}.elementor-652 .elementor-element.elementor-element-f066b6e .jet-mega-menu.jet-mega-menu--layout-horizontal .jet-mega-menu-item__link--top-level,
							.elementor-652 .elementor-element.elementor-element-f066b6e .jet-mega-menu.jet-mega-menu--layout-vertical .jet-mega-menu-item__link--top-level{font-family:"Volkhov", Sans-serif;font-size:18px;font-weight:700;}.elementor-652 .elementor-element.elementor-element-f066b6e{--jmm-top-items-hor-align:right;--jmm-top-item-icon-color:var( --e-global-color-3a683e1 );--jmm-top-item-title-color:var( --e-global-color-3a683e1 );--jmm-top-item-dropdown-icon-color:var( --e-global-color-3a683e1 );--jmm-sub-item-title-color:var( --e-global-color-3a683e1 );--jmm-sub-item-dropdown-icon-color:var( --e-global-color-3a683e1 );--jmm-top-hover-item-icon-color:var( --e-global-color-3a683e1 );--jmm-top-hover-item-title-color:var( --e-global-color-3a683e1 );--jmm-top-hover-item-dropdown-color:var( --e-global-color-3a683e1 );--jmm-sub-hover-item-title-color:var( --e-global-color-3a683e1 );--jmm-sub-hover-item-dropdown-color:var( --e-global-color-3a683e1 );--jmm-top-active-item-icon-color:var( --e-global-color-3a683e1 );--jmm-top-active-item-title-color:var( --e-global-color-3a683e1 );--jmm-top-active-item-dropdown-color:var( --e-global-color-3a683e1 );--jmm-sub-active-item-title-color:var( --e-global-color-3a683e1 );--jmm-sub-active-item-dropdown-icon-color:var( --e-global-color-3a683e1 );--jmm-dropdown-item-icon-color:var( --e-global-color-3a683e1 );--jmm-dropdown-item-title-color:var( --e-global-color-3a683e1 );--jmm-dropdown-hover-item-icon-color:var( --e-global-color-3a683e1 );--jmm-dropdown-hover-item-title-color:var( --e-global-color-3a683e1 );--jmm-dropdown-active-item-icon-color:var( --e-global-color-3a683e1 );--jmm-dropdown-active-item-title-color:var( --e-global-color-3a683e1 );--jmm-dropdown-toggle-color:var( --e-global-color-e9da337 );--jmm-dropdown-toggle-bg-color:var( --e-global-color-3a683e1 );--jmm-dropdown-hover-toggle-color:var( --e-global-color-e9da337 );--jmm-dropdown-hover-toggle-bg-color:var( --e-global-color-3a683e1 );--jmm-dropdown-active-toggle-color:var( --e-global-color-e9da337 );--jmm-dropdown-active-toggle-bg-color:var( --e-global-color-3a683e1 );}.elementor-652 .elementor-element.elementor-element-f066b6e .jet-mega-menu.jet-mega-menu--layout-dropdown .jet-mega-menu-item__link--top-level{font-family:"Volkhov", Sans-serif;font-size:18px;font-weight:700;}.elementor-652 .elementor-element.elementor-element-b463930 .elementor-button{font-family:"Volkhov", Sans-serif;font-size:18px;font-weight:700;background-color:var( --e-global-color-3a683e1 );border-radius:50px 50px 50px 50px;box-shadow:2px 2px 25px 0px rgba(82.00000000000001, 182, 153.99999999999994, 0.18);padding:10px 25px 10px 25px;}.elementor-652 .elementor-element.elementor-element-b463930 .elementor-button:hover, .elementor-652 .elementor-element.elementor-element-b463930 .elementor-button:focus{color:var( --e-global-color-3a683e1 );background-color:var( --e-global-color-336f2e4 );}.elementor-652 .elementor-element.elementor-element-b463930 .elementor-button:hover svg, .elementor-652 .elementor-element.elementor-element-b463930 .elementor-button:focus svg{fill:var( --e-global-color-3a683e1 );}.elementor-652 .elementor-element.elementor-element-44efe07 > .elementor-container{max-width:1400px;}.elementor-652 .elementor-element.elementor-element-44efe07 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-652 .elementor-element.elementor-element-44efe07:not(.elementor-motion-effects-element-type-background), .elementor-652 .elementor-element.elementor-element-44efe07 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-652 .elementor-element.elementor-element-44efe07{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:15px 0px 15px 0px;}.elementor-652 .elementor-element.elementor-element-44efe07 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-652 .elementor-element.elementor-element-d752861 img{width:100%;}.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-menu-toggle{margin-left:auto;background-color:var( --e-global-color-3a683e1 );}.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu .elementor-item{font-family:"Volkhov", Sans-serif;font-size:18px;font-weight:700;}.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-3a683e1 );fill:var( --e-global-color-3a683e1 );}.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu--main .elementor-item:focus{color:var( --e-global-color-3a683e1 );fill:var( --e-global-color-3a683e1 );}.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:var( --e-global-color-3a683e1 );}.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu--dropdown a, .elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-menu-toggle{color:var( --e-global-color-3a683e1 );}.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu--dropdown{background-color:var( --e-global-color-e9da337 );}.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu--dropdown a:hover,
					.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-menu-toggle:hover{color:var( --e-global-color-3a683e1 );}.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu--dropdown a.elementor-item-active{color:var( --e-global-color-3a683e1 );}.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu--dropdown .elementor-item, .elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Volkhov", Sans-serif;font-size:16px;font-weight:700;}.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu--main .elementor-nav-menu--dropdown, .elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-nav-menu__container.elementor-nav-menu--dropdown{box-shadow:3px 4px 6px 0px rgba(234, 234, 234, 0.38823529411764707);}.elementor-652 .elementor-element.elementor-element-dd3b2f3 div.elementor-menu-toggle{color:var( --e-global-color-e9da337 );}.elementor-652 .elementor-element.elementor-element-dd3b2f3 div.elementor-menu-toggle svg{fill:var( --e-global-color-e9da337 );}.elementor-652 .elementor-element.elementor-element-dd3b2f3 div.elementor-menu-toggle:hover{color:var( --e-global-color-e9da337 );}.elementor-652 .elementor-element.elementor-element-dd3b2f3 div.elementor-menu-toggle:hover svg{fill:var( --e-global-color-e9da337 );}.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-menu-toggle:hover{background-color:var( --e-global-color-3a683e1 );}.elementor-652 .elementor-element.elementor-element-67c5c30 .elementor-button{font-family:"Volkhov", Sans-serif;font-size:18px;font-weight:700;background-color:var( --e-global-color-3a683e1 );border-radius:50px 50px 50px 50px;box-shadow:2px 2px 25px 0px rgba(82.00000000000001, 182, 153.99999999999994, 0.18);padding:15px 35px 15px 35px;}.elementor-652 .elementor-element.elementor-element-67c5c30 .elementor-button:hover, .elementor-652 .elementor-element.elementor-element-67c5c30 .elementor-button:focus{color:var( --e-global-color-3a683e1 );background-color:var( --e-global-color-336f2e4 );}.elementor-652 .elementor-element.elementor-element-67c5c30 .elementor-button:hover svg, .elementor-652 .elementor-element.elementor-element-67c5c30 .elementor-button:focus svg{fill:var( --e-global-color-3a683e1 );}@media(min-width:768px){.elementor-652 .elementor-element.elementor-element-053b85b{width:72.666%;}.elementor-652 .elementor-element.elementor-element-f562506{width:10%;}.elementor-652 .elementor-element.elementor-element-966d3fb{width:72.666%;}.elementor-652 .elementor-element.elementor-element-381462e{width:10%;}}@media(max-width:1024px){.elementor-652 .elementor-element.elementor-element-abcde68 > .elementor-container{max-width:1024px;}.elementor-652 .elementor-element.elementor-element-abcde68{padding:10px 10px 10px 10px;}.elementor-652 .elementor-element.elementor-element-837a2ee img{width:95%;}.elementor-652 .elementor-element.elementor-element-837a2ee{z-index:9;}.elementor-652 .elementor-element.elementor-element-f066b6e{--jmm-dropdown-container-width:100%;--jmm-dropdown-toggle-size:40px;}.elementor-652 .elementor-element.elementor-element-f066b6e > .elementor-widget-container{margin:-52px 0px 0px 0px;}.elementor-652 .elementor-element.elementor-element-44efe07 > .elementor-container{max-width:1024px;}.elementor-652 .elementor-element.elementor-element-d752861{z-index:9;}.elementor-652 .elementor-element.elementor-element-dd3b2f3 > .elementor-widget-container{margin:-50px 0px 0px 0px;}.elementor-652 .elementor-element.elementor-element-dd3b2f3{z-index:1;}}@media(max-width:767px){.elementor-652 .elementor-element.elementor-element-abcde68{padding:8px 8px 8px 8px;}.elementor-652 .elementor-element.elementor-element-5f4ca4c{width:80%;}.elementor-652 .elementor-element.elementor-element-837a2ee{text-align:left;z-index:9;}.elementor-652 .elementor-element.elementor-element-837a2ee img{width:80%;}.elementor-652 .elementor-element.elementor-element-f066b6e{--jmm-dropdown-toggle-size:32px;}.elementor-652 .elementor-element.elementor-element-44efe07{padding:8px 0px 8px 0px;}.elementor-652 .elementor-element.elementor-element-d752861{text-align:left;z-index:9;}.elementor-652 .elementor-element.elementor-element-d752861 img{width:45%;}.elementor-652 .elementor-element.elementor-element-dd3b2f3 .elementor-menu-toggle{border-radius:0px;}.elementor-652 .elementor-element.elementor-element-dd3b2f3{z-index:11;}}@media(max-width:1024px) and (min-width:768px){.elementor-652 .elementor-element.elementor-element-5f4ca4c{width:35%;}.elementor-652 .elementor-element.elementor-element-053b85b{width:100%;}.elementor-652 .elementor-element.elementor-element-9e189f8{width:30%;}.elementor-652 .elementor-element.elementor-element-966d3fb{width:100%;}}/* Start custom CSS for jet-mega-menu, class: .elementor-element-f066b6e */#pri-menu .jet-mega-menu-item{
    padding: 6px 25px;
    margin-left: 5px;
}
#pri-menu .jet-mega-menu-item:hover {
    background-color: #CEEFE9;
    border-radius:50px;
    padding: 6px 25px;
}
#pri-menu .jet-mega-menu-item.jet-mega-current-menu-item {
    background-color: #CEEFE9;
    border-radius:50px;
}

#jet-mega-menu-item-2553{
    display: none !important;
}

.login-link a{
    display: none;
}

.jet-mega-menu.jet-mega-menu--layout-horizontal .jet-mega-menu-item__inner{
    padding: 0px !important;
}


@media (max-width: 1024px) and (min-width: 768px){
#pri-menu .jet-mega-menu-item{
    padding: 5px 20px;
    margin: 5px;
}
#pri-menu .jet-mega-menu-item:hover {
    background-color: #CEEFE9;
    border-radius:50px;
    padding: 5px 20px;
    width: fit-content;
}
#pri-menu .jet-mega-menu-item.jet-mega-current-menu-item {
    background-color: #CEEFE9;
    border-radius:50px;
        width: fit-content;
}
#pri-menu #jet-mega-menu-item-2939{
    background-color: #fff;
    border-radius:0px;
    padding: 0px;
    width: fit-content;
    padding-left:20px !important;
}

#pri-menu #jet-mega-menu-item-2939:hover {
    background-color: #fff;
    border-radius:0px;
    padding: 0px;
    width: fit-content;
}

#pri-menu #jet-mega-menu-item-2939 .jet-mega-menu-item.jet-mega-current-menu-item {
    background-color:#fff;
    border-radius:0px;
        width: fit-content;
}
.jet-mega-menu.jet-mega-menu--layout-dropdown .jet-mega-menu-list .jet-mega-menu-item__inner{
    padding:0px !important;
}
#pri-menu .jet-mega-menu-item.jet-mega-current-menu-item .jet-mega-menu-item__inner {
    background-color: transparent;
    border-radius:50px;
}

#jet-mega-menu-item-2553{
    display:inline-flex;
}

.login-link a{
    display: inline-flex;
}
.jet-mega-menu.jet-mega-menu--layout-dropdown.jet-mega-menu--dropdown-layout-default .jet-mega-menu-container{
    margin-top:20px;
    background-color: #fff;
}

}

@media (min-width: 768px){
.elementor-column.elementor-col-50, .elementor-column[data-col="50"] {
    width: 100%;
}
}

@media (max-width: 767px){
#pri-menu .jet-mega-menu-item{
    padding: 6px 25px;
    margin-left: 5px;
    display:inline-flex;
}
#pri-menu .jet-mega-menu-item:hover {
    background-color: #CEEFE9;
    border-radius:50px;
    padding: 6px 25px;
}
#pri-menu .jet-mega-menu-item.jet-mega-current-menu-item {
    background-color: #CEEFE9;
    border-radius:50px;
}

#jet-mega-menu-item-2553{
    display:inline-flex;
}

.login-link a{
    display: inline-flex;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-abcde68 */#headerpart {
    box-shadow: -1px 10px 5px 0px rgba(206,239,233,0.26);
-webkit-box-shadow: -1px 10px 5px 0px rgba(206,239,233,0.26);
-moz-box-shadow: -1px 10px 5px 0px rgba(206,239,233,0.26);
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-dd3b2f3 */#pri-menu .elementor-nav-menu>li a{
    margin-left: 10px;
}
#pri-menu .elementor-nav-menu>li a:hover {
    background-color: #CEEFE9;
    border-radius:50px;
}
#pri-menu .elementor-nav-menu>li a.elementor-item-active{
    background-color: #CEEFE9;
    border-radius:50px;
}

#pri-menu .elementor-nav-menu>li.login-link a{
    display: none;
}
.sub-menu li{
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    margin-right: 10px !important;
}

@media (max-width: 1024px) and (min-width: 768px){
    #pri-menu .elementor-nav-menu>li a{
        margin-top:5px;
    margin-bottom:5px;
    display: inline-flex;
}
    #pri-menu .elementor-nav-menu>li a:hover {
    background-color: #CEEFE9;
    border-radius:50px;
    display: inline-flex;
    margin-top:5px;
    margin-bottom:5px;
}
#pri-menu .elementor-nav-menu>li.login-link a{
    display: inline-flex;
    margin-left:20px;
    margin-bottom:10px;
}
.elementor-nav-menu li.login-link a{
    background-color: #2b3453;
    border-radius:50px;
    color:#fff !important;
    display: inline-flex;
    margin-top:5px;
    margin-bottom:5px;
}
.elementor-nav-menu li.login-link a:hover{
    color:#2b3453 !important;
    display: inline-flex;
    margin-top:5px;
    margin-bottom:5px;
}
.jet-mega-menu.jet-mega-menu--layout-dropdown .jet-mega-menu-list .jet-mega-menu-item--hover.jet-mega-menu-item--mega>.jet-mega-menu-mega-container{
    margin-left:-20px;
}

}


@media (max-width: 767px){
    #pri-menu .elementor-nav-menu>li a{
        margin-top:5px;
    margin-bottom:5px;
    display: inline-flex;
}
    #pri-menu .elementor-nav-menu>li a:hover {
    background-color: #CEEFE9;
    border-radius:50px;
    display: inline-flex;
    margin-top:5px;
    margin-bottom:5px;
}

#pri-menu .elementor-nav-menu>li.login-link a{
    display: inline-flex;
    margin-left:20px;
    margin-bottom:10px;
}
.elementor-nav-menu li.login-link a{
    background-color: #2b3453;
    border-radius:50px;
    color:#fff !important;
    display: inline-flex;
    margin-top:5px;
    margin-bottom:5px;
}
.elementor-nav-menu li.login-link a:hover{
    color:#2b3453 !important;
    display: inline-flex;
    margin-top:5px;
    margin-bottom:5px;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-44efe07 */#headerpart {
    box-shadow: -1px 10px 5px 0px rgba(206,239,233,0.26);
-webkit-box-shadow: -1px 10px 5px 0px rgba(206,239,233,0.26);
-moz-box-shadow: -1px 10px 5px 0px rgba(206,239,233,0.26);
}/* End custom CSS */