.elementor-3376 .elementor-element.elementor-element-bc1c3c5:not(.elementor-motion-effects-element-type-background), .elementor-3376 .elementor-element.elementor-element-bc1c3c5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-e9da337 );}.elementor-3376 .elementor-element.elementor-element-bc1c3c5, .elementor-3376 .elementor-element.elementor-element-bc1c3c5 > .elementor-background-overlay{border-radius:16px 16px 16px 16px;}.elementor-3376 .elementor-element.elementor-element-bc1c3c5{box-shadow:0px 0px 32px 0px rgba(42.99999999999999, 51.99999999999999, 82.99999999999999, 0.1);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:10px 10px 10px 10px;}.elementor-3376 .elementor-element.elementor-element-bc1c3c5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-3376 .elementor-element.elementor-element-91d0922 .elementor-heading-title{color:var( --e-global-color-3a683e1 );font-family:"Volkhov", Sans-serif;font-size:25px;font-weight:700;line-height:1.33em;}.elementor-3376 .elementor-element.elementor-element-91d0922 > .elementor-widget-container{padding:0px 0px 0px 20px;}.elementor-3376 .elementor-element.elementor-element-a80602a{--divider-border-style:solid;--divider-color:#2B34531A;--divider-border-width:1px;}.elementor-3376 .elementor-element.elementor-element-a80602a .elementor-divider-separator{width:100%;}.elementor-3376 .elementor-element.elementor-element-a80602a .elementor-divider{padding-top:0px;padding-bottom:0px;}.elementor-3376 .elementor-element.elementor-element-a80602a > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-3376 .elementor-element.elementor-element-6d48235{margin-top:-10px;margin-bottom:0px;}.elementor-3376 .elementor-element.elementor-element-24a7453.elementor-position-right .elementor-image-box-img{margin-left:15px;}.elementor-3376 .elementor-element.elementor-element-24a7453.elementor-position-left .elementor-image-box-img{margin-right:15px;}.elementor-3376 .elementor-element.elementor-element-24a7453.elementor-position-top .elementor-image-box-img{margin-bottom:15px;}.elementor-3376 .elementor-element.elementor-element-24a7453 .elementor-image-box-wrapper .elementor-image-box-img{width:25%;}.elementor-3376 .elementor-element.elementor-element-24a7453 .elementor-image-box-img img{transition-duration:0.3s;}.elementor-3376 .elementor-element.elementor-element-24a7453 .elementor-image-box-title{margin-bottom:10px;color:var( --e-global-color-3a683e1 );font-family:"Volkhov", Sans-serif;font-size:18px;font-weight:700;line-height:1.4em;}.elementor-3376 .elementor-element.elementor-element-24a7453 .elementor-image-box-description{color:var( --e-global-color-3a683e1 );font-family:"Poppins", Sans-serif;font-size:11px;font-weight:500;}.elementor-3376 .elementor-element.elementor-element-24a7453 > .elementor-widget-container{padding:15px 15px 15px 15px;}.elementor-3376 .elementor-element.elementor-element-eb2f00c.elementor-position-right .elementor-image-box-img{margin-left:15px;}.elementor-3376 .elementor-element.elementor-element-eb2f00c.elementor-position-left .elementor-image-box-img{margin-right:15px;}.elementor-3376 .elementor-element.elementor-element-eb2f00c.elementor-position-top .elementor-image-box-img{margin-bottom:15px;}.elementor-3376 .elementor-element.elementor-element-eb2f00c .elementor-image-box-wrapper .elementor-image-box-img{width:25%;}.elementor-3376 .elementor-element.elementor-element-eb2f00c .elementor-image-box-img img{transition-duration:0.3s;}.elementor-3376 .elementor-element.elementor-element-eb2f00c .elementor-image-box-title{margin-bottom:10px;color:var( --e-global-color-3a683e1 );font-family:"Volkhov", Sans-serif;font-size:18px;font-weight:700;line-height:1.4em;}.elementor-3376 .elementor-element.elementor-element-eb2f00c .elementor-image-box-description{color:var( --e-global-color-3a683e1 );font-family:"Poppins", Sans-serif;font-size:11px;font-weight:500;}.elementor-3376 .elementor-element.elementor-element-eb2f00c > .elementor-widget-container{padding:15px 15px 15px 15px;}@media(max-width:1024px){.elementor-3376 .elementor-element.elementor-element-bc1c3c5{padding:5px 5px 5px 5px;}.elementor-3376 .elementor-element.elementor-element-24a7453 .elementor-image-box-wrapper .elementor-image-box-img{width:10%;}.elementor-3376 .elementor-element.elementor-element-24a7453 > .elementor-widget-container{padding:10px 10px 10px 10px;}.elementor-3376 .elementor-element.elementor-element-eb2f00c .elementor-image-box-wrapper .elementor-image-box-img{width:10%;}.elementor-3376 .elementor-element.elementor-element-eb2f00c > .elementor-widget-container{padding:10px 10px 10px 10px;}}@media(max-width:767px){.elementor-3376 .elementor-element.elementor-element-184ad7a{width:100%;}.elementor-3376 .elementor-element.elementor-element-24a7453 .elementor-image-box-img{margin-bottom:15px;}.elementor-3376 .elementor-element.elementor-element-24a7453 .elementor-image-box-wrapper .elementor-image-box-img{width:20%;}.elementor-3376 .elementor-element.elementor-element-24a7453 .elementor-image-box-title{font-size:15px;}.elementor-3376 .elementor-element.elementor-element-24a7453 .elementor-image-box-description{font-size:8px;}.elementor-3376 .elementor-element.elementor-element-eb2f00c .elementor-image-box-img{margin-bottom:15px;}.elementor-3376 .elementor-element.elementor-element-eb2f00c .elementor-image-box-wrapper .elementor-image-box-img{width:20%;}.elementor-3376 .elementor-element.elementor-element-eb2f00c .elementor-image-box-title{font-size:15px;}.elementor-3376 .elementor-element.elementor-element-eb2f00c .elementor-image-box-description{font-size:8px;}}@media(max-width:1024px) and (min-width:768px){.elementor-3376 .elementor-element.elementor-element-184ad7a{width:100%;}.elementor-3376 .elementor-element.elementor-element-d3365af{width:100%;}}/* Start custom CSS for heading, class: .elementor-element-91d0922 */.elementor-3376 .elementor-element.elementor-element-91d0922 span{
    background: linear-gradient(92.86deg, #08899A -41.61%, #2B3453 100.5%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-35b4cdc */.elementor-3376 .elementor-element.elementor-element-35b4cdc {
    display: none;
}/* End custom CSS */
/* Start custom CSS for image-box, class: .elementor-element-24a7453 */.elementor-3376 .elementor-element.elementor-element-24a7453:hover{
    background-color: #eaebee;
    border-radius:18px;
}
.elementor-3376 .elementor-element.elementor-element-24a7453 .elementor-image-box-title{
    margin-top: 0px;
}
.elementor-3376 .elementor-element.elementor-element-24a7453 img{
      -webkit-filter: drop-shadow(1px 0 0 black) 
        drop-shadow(0 1px 0 black)
        drop-shadow(-1px 0 0 black) 
        drop-shadow(0 -1px 0 black);
   filter: drop-shadow(1px 0 0 black) 
        drop-shadow(0 1px 0 black)
        drop-shadow(-1px 0 0 black) 
        drop-shadow(0 -1px 0 black);
}
.pointer {cursor: pointer;}

.page-id-990 .elementor-3376 .elementor-element.elementor-element-24a7453{
    background-color: #eaebee;
    border-radius:18px;
}/* End custom CSS */
/* Start custom CSS for image-box, class: .elementor-element-eb2f00c */.elementor-3376 .elementor-element.elementor-element-eb2f00c:hover{
    background-color: #eaebee;
    border-radius:18px;
}
.elementor-3376 .elementor-element.elementor-element-eb2f00c .elementor-image-box-title{
    margin-top: 0px;
}
.elementor-3376 .elementor-element.elementor-element-eb2f00c img{
      -webkit-filter: drop-shadow(1px 0 0 black) 
        drop-shadow(0 1px 0 black)
        drop-shadow(-1px 0 0 black) 
        drop-shadow(0 -1px 0 black);
   filter: drop-shadow(1px 0 0 black) 
        drop-shadow(0 1px 0 black)
        drop-shadow(-1px 0 0 black) 
        drop-shadow(0 -1px 0 black);
}
.pointer {cursor: pointer;}

.page-id-1070 .elementor-3376 .elementor-element.elementor-element-eb2f00c{
    background-color: #eaebee;
    border-radius:18px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-bc1c3c5 */.jet-mega-menu-mega-container__inner{
    background-color: transparent !important;
}
.jet-mega-menu-mega-container{
    --jmm-submenu-width: 997.312px;
    --jmm-submenu-delta-x-offset: -590.138px;
}
.jet-mega-menu-mega-container {
    width: 900px !important;
}

@media (max-width: 1024px) and (min-width: 768px){
   .jet-mega-menu-mega-container {
    width: 100% !important;
} 
}

@media (max-width: 767px){
    .jet-mega-menu-mega-container {
    width: 100% !important;
} 
}/* End custom CSS */