.bag {
  padding-top: 50px;
}
.bag_box {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.bag_box__title {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.bag_title {
  color: #2b3453;
  font-family: 'Poppins', Sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.bag_text {
  color: #2b3453;
  font-family: 'Volkhov', Sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.bag_list {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.bag_item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
.bag_image_svg {
  width: 153px;
}
