.benefits {
  background-color: #ceefe9;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}
.benefits_box {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.benefits_box_title {
  @media screen and (max-width: 767px) {
    text-align: center;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 130px;
  }
}
.benefits_title {
  color: #2b3453;
  font-family: 'Volkhov', Sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.3em;
}
.benefits_box_card {
}
.benefits_position {
  display: block;
}
.benefits_image_position {
  margin-bottom: 20px;
}
