.canbe {
  width: 90%;
  margin: 50px auto;
  box-shadow: 1px 1px 21px -1px rgb(82 182 154 / 18%);
  border-radius: 25px 25px 25px 25px;
  padding: 50px 0px 50px 0px;
}
.canbe_title {
  color: #2b3453;
  font-family: 'Volkhov', Sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.canbe_title__color {
  background: linear-gradient(254.28deg, #ceefe9 -20.22%, #0c849c 111.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.canbe_text {
  color: #2b3453;
  font-family: 'Poppins', Sans-serif;
  font-weight: 500;
  line-height: 1.4em;
  margin-bottom: 30px;

  text-align: center;
}
.canbe_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}
.canbe_list__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}
.canbe_item__box {
  margin: 5px 5px 5px 5px;
  padding: 20px 20px 42px 20px;
  border-style: solid;
  border-width: 2px 2px px 2px 2px;
  border-color: #52b69a;
  border-radius: 15px 15px 15px 15px;
  box-shadow: -8px -8px 0px 0px #ceefe9;
  display: flex;
  flex-direction: row-reverse;
  min-height: 235px;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 300px;
  }
}
.canbe_talk__image {
  width: 60px;
  height: 51px;
}
.canbe_card__title {
  background: linear-gradient(92.86deg, #08899a -41.61%, #2b3453 100.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: left;
  margin-bottom: 5px;
  color: #2b3453;
  font-family: 'Poppins', Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.canbe_card__text {
  color: #2b3453;
  font-family: 'Poppins', Sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  line-height: 1.5;
}
.canbe_item__box_title {
  margin-top: 20px;
}
.size {
  min-height: 178px;
}
